html {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #000428, #004e92);
}

.menu-container{
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background-color: whitesmoke;
    align-items: center;
    text-align:center;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding: 25px;
    display:flex;
    flex-direction:column;
    justify-content:space-around
}

.image-container img {
    height:200px
}

.video-container{
    height:140px;
    width:180px;
    left:50%;
    top:5%;
    position:relative;
    transform:translate(-50%,-0%);
    color:white;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding:25px;
    border-radius: 10px;
}

.form-container {
    height:300px;
    width:500px;
    left:50%;
    top:50%;
    position:relative;
    transform:translate(-50%,-85%);
    color:white;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding:25px;
    border-radius: 10px;
}

.form-container button {
    margin-top: 15px;
    margin-bottom:10px;
}

#video {
    transform: translate(-8.5px, -28px)
}